.centerText {
  height: 90%;
  width: 100%;
  display: flex;
  font-size: larger;
  color: white;
}

.info {
  font-size: 1.3em;
  text-align: left;
  font-weight: 400;
}

.myCard {
  padding: 0px;
  width: 95%;
  height: 475px;
  background-size: cover;
}

.masque {
  background-image: linear-gradient(to bottom, rgba(25, 255, 255, 0.1) 30%, rgba(0, 0, 0, 1)) !important;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.Details {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 20px;
}

.eventName {
  color: white;
  font-size: xxx-large;
  font-weight: 500;
}

.price {
  font-size: 4rem;
}
