<div class="container">
  <div class="row">
    <div class="col-3">
      <app-event-creator-details></app-event-creator-details>
    </div>
    <div class="col-9">
      <app-main-image-event-banner></app-main-image-event-banner>
      <app-comment-component></app-comment-component>
      <section class="my-5">
        <div class="card-header border-0 font-weight-bold">4 comments</div>
        <div class="media d-block d-md-flex mt-3">
          <app-single-comment-component></app-single-comment-component>
        </div>
      </section>
    </div>
  </div>
</div>