#container {
  display: flex;
}

#profile {
  width: 30%;
  position: relative;
  top: 1300%;
  left: 5%;
}

#carousels {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel1 {
  // max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
