img {
  width: 100%;
  max-height: 350px;
}

.all {
  width: 100%;
}

.crl {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

h3 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: none;
  font-size: 40px;
}

#mask {
  width: 100%;
}

#mask::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 40px;
  left: 40px;
  background-image: linear-gradient(to bottom, rgba(236, 236, 236, 0.1) 30%, rgb(15, 9, 9)) !important;

}
