<section class="my-5">
  <div class="card-header border-0 font-weight-bold">Leave a reply (logged in user)</div>
  <div class="d-md-flex flex-md-fill px-1">
    <div class="d-flex justify-content-center mr-md-5 mt-md-5 mt-4">
      <img class="card-img-100 z-depth-1 rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img(32).jpg" alt="avatar">
    </div>
    <form #comment="ngForm" (ngSubmit)="onSubmit(comment)">
    <div class="md-form w-100">
        <textarea class="form-control md-textarea pt-0"  ngModel name="content" rows="5" placeholder="Write something here..."></textarea>
    </div>
    <div class="text-center">
      <button class="btn btn-default btn-rounded btn-md">Submit</button>
    </div>
  </form>

  </div>

</section>
