<div class="container-fluid" style="padding: 40px ;">
  <div class="row">
    <div class="col-3" style="padding-right: 30px;">
      <app-event-creator-details [creator]='event.organizerId'></app-event-creator-details>
    </div>
    <div class="col-9">

      <app-main-image-event-banner [event]='event'></app-main-image-event-banner>
      <div style="padding-top: 30px ;">

        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>{{event.eventName.toUpperCase()}}</strong></h2>
        <p class="mx-5 mb-5">{{event.description}}</p>
      </div>
      <app-comment-component [info]="{comments : event.comments, userInfo : userInfo}"></app-comment-component>
      <section class="my-5">
        <div class="card-header border-0 font-weight-bold">{{event.comments.length}} comments</div>
        <div class="media d-block d-md-flex mt-3" *ngFor="let comment of event.comments">
          <app-single-comment-component [comment]='comment'></app-single-comment-component>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- {
  eventName: String,
  description: String,
  date: String,
  imgUrl: {
    type: String,
    default: "https://source.unsplash.com/random"
  },
  video: String,
  category: String,
  cost: String,
  location: String,
  organizerId: {
    type: mongoose.Schema.ObjectId,
    ref: "users",
    required: true
  } -->
