.masque {
  background-image: linear-gradient(to bottom, rgba(25, 255, 255, 0.1) 30%, rgba(0, 0, 0, 1)) !important;
  height: 100%;
  width: 100%;
}

.cover {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 600px;
}
