<img class="card-img-64 d-flex mx-auto mb-3" src="https://mdbootstrap.com/img/Photos/Avatars/img(30).jpg" alt="Generic placeholder image">
<div class="media-body text-center text-md-left ml-md-3 ml-0">
  <h5 class="font-weight-bold mt-0">
    <a href="">Caroline Horwitz</a>
    <a href="" class="pull-right">
      <i class="fas fa-reply"></i>
    </a>
  </h5>
  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
  atque corrupti
  quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
  officia deserunt mollitia animi, id est laborum et dolorum fuga.
</div>
