.body {
  font-weight: 600;
  font-size: 1.2rem;
}

.myCol {
  padding: 10px 70px;
}


.container-fluid {
  padding-top: 35px !important;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: center;
}
