<div>
  <!--Card-->
  <mdb-card cascade="true">

    <!--Card image-->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <div style="display: flex; justify-content: center;">
        <img [src]="userInfo.imgUrl" style="height: 350px; ">
      </div>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/Card image-->

    <mdb-card-body cascade="true" class="text-center pb-0 px-0">
      <!--Card content-->
      <h4 class="card-title">
        <strong style="font-size: 2rem;">{{userInfo.username.toUpperCase()}}</strong>
      </h4>
      <h5>Web developer</h5>

      <mdb-card-text>
        <p style="font-size: 1.2rem;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam provident praesentium voluptates, aliquid
          soluta quibusdam debitis doloremque sit molestiae. Voluptate fugiat corrupti veritatis impedit? Neque possimus
          unde autem nulla officiis?
        </p>
      </mdb-card-text>


      <!-- Card footer -->
      <div class="card-footer text-muted text-center mt-4">


        <!--Facebook-->
        <a style="font-size: 1.6rem;" type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light"
          mdbWavesEffect>
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <!--Twitter-->
        <a style="font-size: 1.6rem;" type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light"
          mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!--Google +-->
        <a style="font-size: 1.6rem;" type="button" mdbBtn floating="true" size="sm" color="dribbble"
          class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="dribbble"></mdb-icon>
        </a>
        <mdb-card-text>
          <h6 style="font-size: 1.2rem; padding-top: 10px;"><strong>{{userInfo.email}}</strong></h6>
        </mdb-card-text>
      </div>
    </mdb-card-body>
    <!--/.Card content-->

  </mdb-card>
  <!--/.Card-->
</div>
